@model HelloCorona.Models.CombineData
@{
    ViewBag.Title = "About";
}
<h1>Demo AJAX Helper</h1>
<div id="attachmentImage">
    Table of content
</div>

@Ajax.ActionLink("View more", "AjaxIndex","Products",
    new AjaxOptions
    {
        HttpMethod = "GET",
        InsertionMode = InsertionMode.Replace,
        LoadingElementId = "loadingImage",
        UpdateTargetId = "attachmentImage"
    })

<div id="loadingImage" style="display:none">
    Loading attachment...
</div>
