@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

@using (Ajax.BeginForm("Search", "Products",
    new AjaxOptions
    {
        InsertionMode = InsertionMode.Replace,
        HttpMethod = "GET",
        OnFailure = "searchFailed",
        LoadingElementId = "ajax-loader",
        UpdateTargetId = "searchresults",
    }))
{
    <input type="text" name="keyword" />
    <input type="Submit" value="search" />
    <div id="searchresults" style="margin: 10px">

    </div>
    <img id="ajax-loader"
         src="https://flevix.com/wp-content/uploads/2019/07/Ring-Loading.gif"
         style="display: none; width: 100px;" />
}